#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

***objectives***
- List popular languages for Data Science
- list of commonly used libraries used by Data Scientists
- list of Data science tools used
- Examples of a few arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. Scala

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. ggplot
5. Pytorch

| Data science Tools |
----------------------
| Jupyter notebooks   |
| JupyterLabs         |
| visual studio code  |

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
result = (3*4)+5 #This a simple arithmetic expression to mutiply then add integers
print(result)

17

In [9]:
min = 200
hours = min/60 # This will convert 200 minutes to hours by diving by 60
print(hours)

3.3333333333333335

## Author
Anderson Mwangi